@font-face {
  font-family: "FaktPro-Light";
  src: local("FaktPro-Light"),
    url(./fonts/Seer/FaktPro-Light.ttf) format("truetype");
}

@font-face {
  font-family: "FaktPro-Normal";
  src: local("FaktPro-Normal"),
    url(./fonts/Seer/FaktPro-Normal.ttf) format("truetype");
}

@font-face {
  font-family: "FaktPro-SemiBold";
  src: local("FaktPro-SemiBold"),
    url(./fonts/Seer/FaktPro-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "FaktPro-Blond";
  src: local("FaktPro-Blond"),
    url(./fonts/Seer/FaktPro-Blond.ttf) format("truetype");
}

@media (min-width: 1250px) {
  .container {
    max-width: 1250px;
  }
}

html,
body {
  font-family: FaktPro-Normal;
  height: 100%;
  background-color: #f0f2f7;
}

.App-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /* height: 40vmin; */
  pointer-events: none;
}

.btn-primary {
  background-color: #283c7c !important;
  border-color: #283c7c !important;
  font-family: FaktPro-Normal !important;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
}
.btn-primary1 {
  background-color: #283c7c !important;
  border-color: #283c7c !important;
  font-family: FaktPro-Normal !important;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  width: 200px;
  color: #fff;
  padding-bottom: 8px;
  padding-top: 8px;
  position: relative;
  bottom: 0px;
}

.hero-btn {
  width: 123px;
  height: 39px;
  background-color: #283c7c !important;
  border-color: #283c7c !important;
  font-size: 13px;
  color: white;
}

.hero-btn:hover {
  width: 123px;
  height: 39px;
  background-color: #354885 !important;
  border-color: #354885 !important;
  font-size: 13px;
  color: white;
}

.talk-to-us {
  font-size: 14px;
  font-weight: 500;
}

.talk-to-us:hover {
  font-size: 14px;
  text-decoration: none;
  background: linear-gradient(
    to right,
    midnightblue,
    midnightblue 50%,
    royalblue 50%
  );
  background-clip: text;
  overflow: hidden;
}

/***

a {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  color: royalblue;
  
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none; 
  
}
a:hover {
  background-position: 0 100%;
}

/**/
.hero-header {
  font-family: FaktPro-SemiBold;
  line-height: 58px;
  color: #00112c;
  font-style: normal;
  font-size: 45px;
}

.header {
  font-family: FaktPro-SemiBold;
  line-height: 50px;
  color: #00112c;
  font-style: normal;
  font-size: 32px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.nav-link {
  font-family: FaktPro-Blond;
  font-size: 16px;
  color: #00112c;
}

.subheader {
  font-family: FaktPro-Normal;
  font-style: normal;
  color: #00112c;
  line-height: 30px;
  font-size: 18px;
}

.font-35 {
  font-size: 2.2rem;
}
.font-18 {
  font-size: 1.15rem;
}
.font-16 {
  font-size: 1rem;
}
.font-15 {
  font-size: 0.93rem;
}
.font-13 {
  font-size: 0.82rem;
}
.font-20 {
  font-size: 1.25rem;
}
.ln-height-26 {
  line-height: 26px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
}
.color283 {
  color: #283c7c;
}
.gray1 {
  color: #00112c;
}
.gray2 {
  color: #00112c;
}
section {
  display: block !important;
  width: 100% !important;
}
@media only screen and (max-width: 600px) {
  .font-35 {
    font-size: 1.5rem;
    font-family: FaktPro-SemiBold;
  }
  .font-20 {
    font-size: 1rem;
  }
  .font-30 {
    font-size: 1.5rem !important;
  }
  .font-18 {
    font-size: 1.05rem;
  }
}
.font-30 {
  font-size: 1.88rem;
}
.btn-white {
  background-color: #fff !important;
  border-color: #283c7c !important;
  font-family: FaktPro-Normal !important;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  padding-bottom: 8px;
  padding-top: 8px;

  color: #283c7c !important;
  width: 200px;
  position: relative !important;
  bottom: 0px !important;
}
