footer {
  display: "flex";
  justify-content: flex-end;
  background: #152148;
  color: white;
  margin-bottom: 0;
}

li a {
  text-decoration: "none";
  color: white;
  font-weight: 300;
}

.footer-container {
  padding: 5rem 0;
}
.footer-input {
  background-color: #152148 !important;
  color: #fff !important;
  border: 1px solid #fff;
  border-radius: 2px 0 0 2px;
}
.footer-input::placeholder {
  color: #fff !important;
}
.btn-footer-inpbtn {
  background-color: rgb(241, 239, 239);
  border-radius: 0px 2px 2px 0px;
  width: 30px;
  transition: width 0.2s !important;
  transition-timing-function: ease-in-out !important;
}
.btn-footer-inpbtn:hover {
  width: 80px;
  transition: width 0.2s !important;
  transition-timing-function: ease-in-out !important;

  /* animation-duration: 50000s !important; */
}
@media only screen and (max-width: 600px) {
  .footer-container {
    font-size: 0.4rem !important;
  }
  h5 {
    font-size: 0.7rem !important;
  }
  .footer-input::placeholder {
    color: #fff !important;
    font-size: 0.5rem !important;
  }
}

.footerlist > a:hover {
  text-decoration-line: none !important;
  color: rgb(106, 163, 209);
  font-size: 1.05rem;
}
.footerlist > a {
  vertical-align: middle !important;
  margin: auto;
}
.footerlist {
  height: 40px !important;
}
