footer {
  display: "flex";
  justify-content: flex-end;
  background: #152148;
  color: white;
  margin-bottom: 0;
}

li a {
  text-decoration: "none";
  color: white;
  font-weight: 300;
}

.footer-container {
  padding: 5rem 0;
}
