@font-face {
  font-family: "HK-Grotesk";
  src: local("HK-Grotesk"),
    url(./fonts/hk-grotesk/HKGrotesk-ExtraBold.otf) format("opentype");
}

header {
  font-family: Heebo;
  line-height: 51px;
  color: #00112c;
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}

.subheader {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.title {
  color: #283c7c;
  font-style: normal;
  font-weight: bold;
}

.features-title {
  font-weight: 600;
  color: #00112c;
}

.features-body {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.responsive {
  width: 100%;
  height: auto;
}
