@font-face {
  font-family: "HK-Grotesk";
  src: local("HK-Grotesk"),
    url(./fonts/hk-grotesk/HKGrotesk-ExtraBold.otf) format("opentype");
}

header {
  font-family: Heebo;
  line-height: 51px;
  color: #00112c;
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}

.subheader {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}

.title {
  color: #283c7c;
  font-style: normal;
  font-weight: bold;
}

.features-title {
  font-weight: 700;
  color: #00112c;
}

.features-body {
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.responsive {
  width: 100%;
  height: auto;
}
.headSection {
  padding: 10% 6% 6.5% 6% !important;
  width: 100% !important;
}
.fullglance {
  padding: 6% 6% 6% 6% !important;
  width: 100% !important;
}
.sectionPadding {
  padding-top: 6%;
  padding-bottom: 0%;
  padding-left: 6%;
  padding-right: 3.5%;
}
.headBox {
  width: 90%;
  background-color: rgba(24, 129, 199, 0.05);
  height: 350px;
}
.intro {
  background-color: #fff;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 6%;
  padding-right: 5%;
}
.brands {
  background-color: #fff;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 6%;
  padding-right: 3%;
}
.headIntro {
  width: 80% !important;
}
.getStarted {
  padding-bottom: 8%;
}
@media only screen and (max-width: 600px) {
  .brands {
    background-color: #fff;
    width: 100% !important;
  }
  .headBox {
    width: 100%;
    background-color: rgba(24, 129, 199, 0.05);
    height: 250px !important;
  }
  .headIntro {
    width: 100% !important;
    padding-left: 0% !important;
  }
  .studiesList {
    align-items: center !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .sectionPadding {
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 6%;
    padding-right: 5%;
  }
  .bizfullviewImg {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
